/* reset.css */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* basic placement for isolated testing */
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

/* core styles */
.slider  {
  width: 600px;
  max-width: 90%;
  overflow: hidden;
  position: relative;
  margin: 2rem 0;
}

.slides {
  display: flex;
  wrap: nowrap;
}

.slide {
  width: 100;
  display: block;
}

/* Slider 01 */

.slider-01 {
}

[class^='slider-01-control'],
.slider-01-slider-indicator {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

[class^='slider-01-control'] {
  background-color: rgba(255,255,255,.75);
}

.slider-01-control-prev,
.slider-01-control-next,
.slider-01-play-controls,
.slider-01-slider-indicators {
  position: absolute;
}

.slider-01-control-prev {
  bottom: 0;
  left: 0;
}

.slider-01-control-next {
  bottom: 0;
  right: 0;
}


.slider-01-play-controls {
  top: 0;
  right: 0;
}

.slider-01-control-prev,
.slider-01-control-next,
.slider-01-control-play,
.slider-01-control-pause {
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.slider-01-control-next {
  width: 4rem;
  height: 4rem;
}

.slider-01-control-play:disabled,
.slider-01-control-pause:disabled {
  display: none;
}

.slider-01-slider-indicators {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 2rem;
}

.slider-01-slider-indicator {
  color: rgba(255,255,255,.75);
}

[aria-selected="true"] .fa-circle { display: none; }
[aria-selected="false"] .fa-circle { display: block; }
[aria-selected="true"] .fa-circle-o { display: block; }
[aria-selected="false"] .fa-circle-o { display: none; }
